
<div id="main-container">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div id="logoSection" class="span10">
                        <img id="fullLogo" src="images/logo.png" height="47" width="160" alt="Kudos Logo" title="Kudos" />
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </div>
                    <div id="headerPrimaryNavigation" class="span3">
                        <ul class="nav">
                            <li class="menu-item" data-bind="">
                                <a href="#">About</a>
                            </li>
                            <li class="menu-item" data-bind="">
                                <a href="#">Help</a>
                            </li>
                        </ul>
                    </div>
                    <div id="headerSecondaryNavigation" class="dropdown btn-group pull-right">
                        <a class="btn dropdown-toggle settings-dropdown" data-toggle="dropdown" href="#"> <i class="icon-user"></i> <span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li data-bind="">
                                <a href="myaccount.html">My Account</a>
                            </li>
                            <li id="logout" data-bind="">
                                <a href="#">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .navbar-inner -->
            </div>
            <!-- .navbar -->
        </div>
        <section id="main">
            <div class="well">
                <div class="row-fluid">
                    <span class="span3">
                        <img src="images/CryingBaby.png" style="height: 100px; weight: 100px"></img>
                    </span>
                    <div>Ross Jennings</div>
                </div>
            </div>
            <div id="applicationDetails">
                <section id="homePage" class="home-content">
                    <div class="row-fluid">
                        <div class="span3"></div>
                        <div id="topSection" class="span6">
                            <hr />
                        </div>
                        <div class="span6"></div>
                    </div><!-- .row -->
                    <footer id="footer">
                        <p>
                            &copy;2013 <a href="http://www.santanderconsumerusa.com">Kudos - Appreciate your peers</a><br>
                        </p>
                    </footer>
                </section>
            </div>
        </section>
    </div>
</div>
